@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Smooch+Sans:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=Jersey+15&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("./header-footer.css");
@import url("./burger.css");
/* @import "./media_query.css"; */

/* variables */

:root {
  --main-black-color: #1a1919;
  --bg-color: #fcfcf6;
}

/* variables */
* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}
h1 {
  font-size: 32px;
  line-height: 45px;
  text-align: left;
  font-style: italic;
  text-transform: uppercase;
}
body {
  /* height: 100%; */
  font-family: "Albert Sans", serif;
  font-optical-sizing: auto;
  background-color: #fcfcf6;
}

.login_form {
  margin-left: auto;
  margin-right: auto;
}
