@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Smooch+Sans:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=Jersey+15&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("./header-footer.css");
@import url("./burger.css");
/* @import "./media_query.css"; */

/* variables */

:root {
  --main-black-color: #1a1919;
  --bg-color: #fcfcf6;
}

/* variables */
* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}
h1 {
  font-size: 32px;
  line-height: 45px;
  text-align: left;
  font-style: italic;
  text-transform: uppercase;
}
body {
  /* height: 100%; */
  font-family: "Albert Sans", serif;
  font-optical-sizing: auto;
  background-color: #fcfcf6;
}

.login_form {
  margin-left: auto;
  margin-right: auto;
}

/* *************************************** */
/* first */

.first {
  padding-bottom: 129px;
}

.wrapper {
  display: grid;
  gap: 20px;
  width: 100%;
  height: 100%;
}

.right-col {
  grid-column: 2/3;
}

.right-col {
  grid-column: 2/3;
  display: flex; /* Добавляем flex-контейнер */
  flex-direction: column; /* Располагаем элементы вертикально */
}

.content-rc {
  display: grid;
  flex-grow: 1; /* Позволяет блоку занять всю доступную высоту */
  height: 100%; /* Убедитесь, что он растягивается */
  justify-content: flex-end;
}

.text-btn-left {
  grid-column: 1/2;
  align-content: flex-end;
  justify-content: flex-end;
  max-width: 350px;
}
.text-btn-right {
  grid-column: 2/3;
  max-width: 500px;
  margin-left: auto;
}

.black-line {
  display: block;
  width: 124px;
  height: 2px;
  background-color: #000;
}
.right-caption {
  /*  */
}
.right-caption p {
  font-size: 20px;
}
.get-started {
  padding: 15px 45px;
  background-color: var(--main-black-color);
  color: var(--bg-color);
  border: 1px solid transparent;
  transition: 0.33s ease;
}

.get-started:hover {
  background-color: var(--bg-color);
  color: var(--main-black-color);
  border: 1px solid var(--main-black-color);
}
.first-heading {
  margin-bottom: 75px;
}

.text-btn-left p {
  font-size: 24px;
  line-height: auto;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 24px;
}
.explore-now {
  padding: 5px 5px;
  background-color: var(--bg-color);
  text-transform: uppercase;
  color: var(--main-black-color);
  border: 1px solid transparent;
  position: relative;
}
.explore-now::before {
  position: absolute;
  content: url("../images/Ellipse1.svg");
  z-index: -1;
  top: -15px;
  left: -20px;
}
/* *************************************** */
/* first */
