@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Smooch+Sans:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=Jersey+15&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* @import "./media_query.css"; */
* {
  margin: 0;
  padding: 0;
}

.container{
  max-width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

body {
  /* height: 100%; */
  font-family: "Albert Sans", serif;
  font-optical-sizing: auto;
  background-color: #FCFCF6;
}
header {
  padding-bottom: 40px;
  padding-top: 40px;
}
.header_menu{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

}

header .logo_header a {
  font-family: "Jersey 15", serif;
  font-size: 25px;
  color: #1a1919;
  text-decoration: none;
  transition: 0.33s ease-in-out;
}
header .logo_header a:hover {
  color: #f39c12;
}
.footer {
  background-color: #1a1919;
  display: flex;
  padding-top: 150px;
  padding-bottom: 150px;
  text-align: center;
  width: 100%;
}
.footer .heading_footer {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  font-size: 86px;
  text-align: center;
  color: #fff;

  text-transform: uppercase;
}
.footer .contact_btn_footer {
  padding: 25px 75px;
  background-color: #fcfcf6;
  max-width: 320px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  text-transform: uppercase;
  font-size: 22px;
  transition: 0.33s ease-in-out;
}

.footer .contact_btn_footer:hover {
  background-color: #f39c12;
  color: #fcfcf6;
  cursor: pointer;
  border-radius: 10px;
}


.login_form {
  margin-left: auto;
  margin-right: auto;
}

.first_section{
  padding-bottom: 120px;
}

.first_section .container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}


.first_section .left_column img{
  width: 100%;
}

.first_section .right_column{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 120px 1fr;
}
.first_section .right_column h1{
    font-size: 32px;
    text-transform: uppercase;
}
.right_column_content{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.block_explore {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.block_explore .caption{
  margin-top: auto;
  /* margin-bottom: auto; */
}
.block_explore .block_explore_text{
  max-width: 350px;
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 23.5px;
}
.block_explore .btn_explore_sub{
    background-color: #fff;
    font-size: 20px;
    color: #1a1919;
    border: 0px solid;
    text-transform: uppercase;
    position: relative;
    width: 200px;
    margin-left: auto;
    margin-top: auto;
}

.block_explore .btn_explore_sub::after{
  position: absolute;
  content: url('../images/Ellipse1.svg');
  width: 64px;
  height: 64px;
  top: -18px;
  right: 0;
  left: -15px;
  z-index: -1;
}

.block_getstarted{
  width: 450px;
}
.block_getstarted p {
  font-size: 20px;

} 

.line_black{
  display: block;
  width: 132px;
  height: 2px;
  background-color: #1a1919;

}
/* burger menu */
.burger {
  position: relative;
  z-index: 1001;
  width: 40px;
  height: 30px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin-left: auto;
}

.burger span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: black;
  border-radius: 2px;
  transition: all 0.3s ease;
}

/* Оверлей меню */
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  transition: transform 0.5s ease;
  z-index: 1000;
}

.menu-overlay.active {
  transform: translateY(0);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.menu ul li {
  margin: 20px 0;
}

.menu ul li a {
  text-decoration: none;
  font-size: 24px;
  color: white;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.menu ul li a:hover {
  color: #f39c12;
}

/* Анимация кнопки-бургера при активации */
.burger.active span:nth-child(1) {
  transform: rotate(45deg) translate(14px, 13px);
}

.burger.active span:nth-child(2) {
  opacity: 0;
}

.burger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -4px);
}
/* burger menu */

