/* footer and header */

@media (max-width: 440px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .heading_footer {
    font-size: 43px !important;
  }

  .first_heading {
    margin-top: 40px;
    font-size: 18px;
    line-height: 28px;
  }
}

/* footer and header */
