@media (max-width:1680px){
    h1{
        font-size: 22px !important;
    }
}

@media (max-width:425px){
    .container{
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
}